*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --background-black: #010101;
  --text-white:#FFFFFF;
  --accent-blue: #2A235A;
  --secondary-blue: #440089;
  --backgroud-dark: #151517;
  --accent-orange: #F77D09;
  --heading-font: 'Times New Roman', Times, serif;
  --body-font: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}